.login {
  /* 로그인 */

  position: absolute;
  width: 114px;
  height: 58px;
  left: 20px;
  top: 98px;

  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 58px;
  /* identical to box height */
  letter-spacing: -0.05em;

  /* Main purple */
  color: #8728ff;
}

.password {
  /* 비밀번호 */

  position: absolute;
  width: 320px;
  height: 55px;
  padding: 20px;

  /* Gray 50 */
  background: #f6f6f6;
  border-radius: 5px;
}

.ic_pw_hide {
  /* PW 숨기기 아이콘 */

  position: absolute;
  width: 19.69px;
  height: 18px;
  left: 285px;
  top: 18.5px;

  /* Gray 400 */
  /* border: 2px solid #999999; */
}

.login_innerText {
  /* 로그인 */

  width: 46px;
  height: 23px;

  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  letter-spacing: -0.05em;

  /* Main purple */
  /* color: #8728ff; */

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.find_id_pw_regi {
  /* 아이디 PW 찾기, 회원가입 */

  position: absolute;
  height: 20px;
  top: 413px;

  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.05em;

  color: #7c2eff;
}

.or {
  /* 혹은 */

  position: absolute;
  width: 27px;
  height: 20px;
  left: 167px;
  top: 480px;

  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.05em;

  color: #7c2eff;

  opacity: 0.6;
}

.social_login {
  /* ic_login_naver */

  position: absolute;
  width: 50px;
  height: 50px;
  top: 524px;
}

.unregistered {
  /* 등록되지 않은 회원입니다. */

  position: absolute;
  width: 184px;
  height: 20px;
  left: 20px;
  top: 317px;

  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.05em;

  /* Sub red */
  color: #ff0045;
}

.vector9 {
  /* Vector 9 */

  position: absolute;
  width: 135px;
  height: 0px;
  left: 20px;
  top: 490px;

  opacity: 0.2;
  /* Main purple */
  border: 1px solid #8728ff;
}

.vector10 {
  /* Vector 10 */

  position: absolute;
  width: 135px;
  height: 0px;
  left: 205px;
  top: 490px;

  opacity: 0.2;
  /* Main purple */
  border: 1px solid #8728ff;
}

.vector11 {
  /* Vector 11 */

  position: absolute;
  width: 10px;
  height: 0px;
  top: 424px;

  opacity: 0.2;
  /* Main purple */
  border: 1px solid #8728ff;
  transform: rotate(90deg);
}

.frame4 {
  /* Frame 4 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  gap: 10px;

  position: absolute;
  width: 320px;
  height: 55px;
  left: 20px;
  top: 194px;

  /* Gray 50 */
  background: #f6f6f6;
  border-radius: 5px;
}

.frame5 {
  /* Frame 5 */

  position: absolute;
  width: 320px;
  height: 55px;
  left: 20px;
  top: 254px;

  /* Gray 50 */
  background: #f6f6f6;
  border-radius: 5px;
}

.frame6 {
  /* Frame 6 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 26px;
  gap: 10px;

  position: absolute;
  width: 320px;
  height: 50px;
  left: 20px;
  top: 349px;

  /* Sub purple */
  /* background: #e9d8ff; */
  border-radius: 5px;
}
