.container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin: 0 auto;
  max-width: 400px;
  font-family: Arial, sans-serif;
}

.title {
  font-size: 25px;
  font-weight: bold;
  color: #8b00ff;
  margin-bottom: 10px;
  margin-top: 50px;
}

.subtitle {
  font-size: 16px;
  margin-bottom: 40px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  margin-bottom: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4px;
  padding-bottom: 10px;
  border: 1px solid #e9d8ff;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card.active {
  border: 1px solid #8b00ff;
  background-color: #f9f0ff;
  font-weight: bold;
}

.icon {
  font-size: 30px;
  margin-bottom: 8px;
}

.label {
  text-align: center;
  font-size: 14px;
  width: 88px;
  color: #8728ff;
}

.nextButton {
  width: 320px;
  padding: 12px;
  background-color: #8b00ff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: fixed; /* 화면에 고정 */
  bottom: 80px; /* 화면의 바닥에서 10px 위 */
}

.nextButton:hover {
  background-color: #6e00cc;
}
