.container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin: 0 auto;
  max-width: 400px;
  font-family: Arial, sans-serif;
}

.title {
  font-size: 25px;
  font-weight: bold;
  color: #8b00ff;
  margin-bottom: 10px;
  margin-top: 50px;
}

.subtitle {
  font-size: 16px;
  margin-bottom: 40px;
}

.input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px;
  font-size: 16px;
  box-sizing: border-box;
  background-color: #f8f8f8;
  text-align: left;
}

.input::placeholder {
  text-align: center;
}

.input:focus {
  outline: 2px solid #8b00ff;
}

.inputError {
  border-color: #e53935;
}

.error {
  font-size: 0.8rem;
  color: #e53935;
  margin-top: 4px;
  margin-left: 4px;
}

.nextButton {
  width: 320px;
  padding: 12px;
  background-color: #8b00ff;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: fixed; /* 화면에 고정 */
  bottom: 80px; /* 화면의 바닥에서 10px 위 */
}

.nextButton:hover {
  background-color: #6e00cc;
}
